doctype 5
html(lang='ja')
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    link(rel='stylesheet', href='../css/style.css')
  body
    #enchant-stage
    script(src='../js/jquery-2.0.3.min.js')
    script(src='../js/enchant.min.js')
    script(src='../js/main.js')