doctype 5
html(lang='ja')
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    link(rel="stylesheet", href="../css/semantic.min.css")
    link(rel='stylesheet', href='../css/style.css')
  body
    #game
      #intro.overlay
        .title
        .caption 〜ルールせつめい〜
        .description
          #fig1.fig
          .statement
            | 8×8マスの盤上で、8匹のにゃんこをお互い取られないように配置するゲームです。にゃんこは縦・横・斜め方向にどこまでも動けます。
          .clear
          #fig2.fig
          .statement
            | このようにお互い取られる位置に配置してはいけません。
          .clear
          #fig3.fig
          .statement
            | 互いに取られないようにうまく8匹のにゃんこを盤上に配置してください。
          .clear
        .ui.green.button#startbutton スタート
      #message.overlay
        .messagelabel
        .ui.red.button#backbutton 戻る
      #main
        #header
          #countimage
          #countlabel
          #timelabel
          .clear
        #field
          i = 8
          while i--
            .row
              j = 8
              while j--
                .block
        #buttonarea
          .ui.small.red.button#resetbutton リセット
          .ui.small.purple.button.disabled#judgebutton 判定
          .ui.small.blue.button#guidebutton ガイドON
        #buttonarea2
          .ui.green.button#titlebutton タイトル
    script(src='../js/jquery-2.0.3.min.js')
    script(src='../js/semantic.min.js')
    script(src='../js/main.js')